<%- include('../partials/page-header') %>

<div class="main-header">
    <div class="section-menu">
        <p><a href="/studio/classes">Classes</a></p>
        <p><a href="/studio/teachers">Teachers</a></p>
        <p><a href="/studio/about">About</a></p>
    </div>
</div>