<div class="page-header">
    <div class="header-logo">
        <a href="/"><img src="https://widespread-beta.herokuapp.com/image/Olson-Jon_5f749fd3bd01753cb4f9677a_b8df08dbc95593d7d20eeadd3764a5d6.jpeg" alt="Purnama Logo"></a>
    </div>
    <h1><%= pageTitle %></h1>
</div>