<%- include('partials/page-header') %>
    <!-- Create Account -->
    <div class="create-account">
        <h1>Welcome to Purnama</h1>
        <h5>Create an account or login</h5>
        <div class="create-account-btns">
          <h6><a href="/users/login">Login</a></h6>
          <h6><a href="/users/register">Register</a></h6>
        </div>
      </div>