<%- include('../partials/page-header') %>

<header class="main-header">
    <div class="welcome-user">
        <h5>Welcome <%= user.fname %>!</h5>
    </div>
    <div class="user-settings-button">
        <a href="/users/update-profile"><i class="fas fa-user-edit"></i></a>
    </div>
</header>


<main>
    <section>

    </section>
</main>